*{
    margin:0;
    padding:0;
}


html{
    background:url('../img/bg.jpg') repeat #2d2d2d;
}


body{
    font:60px/1.3 'Montserrat', sans-serif;
}

a, a:visited {
    outline:none;
    color:#1c4f64;
}

a:hover{
    text-decoration:none;
}

section, footer, header{
    display: block;
}




header h1{
    text-align:center;
    font: normal 80px 'Montserrat', cursive;
    color: white;
    padding-top: 60px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}






#weather{
    position:relative;
    width:494px;
    height:407px;
    margin: 50px auto 25px;
    overflow:hidden;
}

#weather.error:before{
    display:none;
}

#weather.error{
    text-align:center;
    font-size: 20px;
}

#weather.loaded #scroller,
#weather.loaded .arrow{
    display:block
}

#weather.loaded:before{
    display:none;
}

#weather.first a.previous,
#weather.last a.next{
    display:none;
}





#scroller{
    position:absolute;
    list-style:none;
    width:100%;
    height: 336px;
    white-space:nowrap;
    top:0;
    left:0;
}

#scroller li{
    position:relative;
    width:100%;
    height:100%;
    display:inline-block;
    text-align:center;
}

#scroller li img{
    display:block;
    margin: 35px auto 0;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#scroller li .day{
    color:#decbcb;
    font-size:15px;
    padding-top: 20px;
    text-shadow:1px 1px 0 rgba(0,0,0,0.15);
}

#scroller li .day b{
    font-weight:normal;
    color:#0f3642;
}

#scroller li .cond{
    bottom: -52px;
    color: #e8e8e8;
    font-size: 24px;
    position: absolute;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    width: 100%;
}

#scroller li .cond b{
    text-transform:uppercase;
}

#scroller, .arrow{
    display:none;
}



.arrow{
    background:url('../img/arrows.png') no-repeat;
    width:34px;
    height:45px;
    position:absolute;
    top:50%;
    margin-top:-45px;
    opacity:0.6;
    overflow:hidden;
    text-indent:-99999px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.arrow:hover{
    opacity:1;
}

.arrow.previous{
    left:20px;
}

.arrow.next{
    background-position:top right;
    right:20px;
}





p.location{
    font-weight:bold;
    font-size:28px;
    color:#717171;
    text-align:center;
    margin-bottom:80px;
}

p.location b{
    color:#bbbbbb;
}





footer{
    font-family:sans-serif;
    background-color: #080808;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

footer h2{
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top:0;
    left: 50%;
    bottom:0;
    margin-left: -420px;
    padding:13px 20px 0;
    border:1px solid #000;
    border-width:0 1px;
    background-color:rgba(0,0,0,0.6);
    box-shadow:0 0 5px #000 inset;
    line-height: 1;
    margin-top: 0;
}

footer h2 a{
    color: #EEEEEE !important;
    text-decoration:none !important;
}

footer h2 i{
    font-style:normal;
    color:#888;
}

#tzine-download{
    opacity:0.9;
    background-color:#257691;
    font-size:11px;
    text-align:center;
    text-transform:uppercase;
    width:150px;
    height:28px;
    line-height:28px;
    text-decoration:none !important;

    display: inline-block;
    border-radius: 2px;
    color: #fff !Important;
    font-weight: bold;
    box-shadow: 0 -1px 2px #1e5e74 inset;

    border-top:1px solid #26849c;

    text-shadow:1px 1px 1px #1e6176;
    margin-top:6px;
}

#tzine-download:hover{
    opacity:1;
}

#tzine-actions{
    position:absolute;
    top:0;
    width:500px;
    right:50%;
    margin-right:-420px;
    text-align:right;
}

#tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
}

/* custom */

@keyframes lds-ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}

.lds-css.ng-scope {
    margin-top: calc(50% - 100px);
    margin-left: calc(50% - 50px);
}

.lds-ripple {
  position: relative;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: #f7f7f7;
}
.lds-ripple div:nth-child(2) {
  border-color: #545454;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-ripple {
  width: 100px !important;
  height: 100px !important;
  -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}

/* CUSTOM 2 */
form {
     display: flex;
  justify-content: center;
  margin-top: 10px;
}
.autocomplete {
  position: relative;
  display: inline-block;
  width: 300px;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  float: left;
  width: calc(80% - 25px);
}
button[type=submit] {
    float: right;
  width: 20%;
  background-color: #252525;
  color: #fff;
  height: 40px;
  border: none;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
